<div class="container-principal">
  <div class="container-instrucoes">
    <div class="top-menu">
      <div class="top-menu-container">
        <ul class="menu-items">
          <li class="menu-item"><a class="menu-link" (click)="navegaParaIntrucoes()">Instruções</a></li>
          <li class="menu-item"><a class="menu-link" (click)="navegaParaCodigo()">Codigo</a></li>
        </ul>
      </div>
    </div>
    <div class="container-esquerdo">

      <div [class.hidden]="!exibeInstrucoes" id="card-instrucao" class="card">
        <div class="card-content">
          <h3 class="card-title">Instruções</h3>
          <p class="card-text">{{exercicio?.descricao}}</p>
          <h4>Exemplos:</h4>
          <ul>
            @for (exemplo of exercicio?.exemplos; track $index){
            <li>
              <span class="mr-1">Entrada:</span>
              {{exemplo.entrada}}
              <span class="ml-4 mr-1">Saída:</span>
              {{exemplo.saida}}
            </li>
            <!-- <hr class="list-divider"> -->
            }
            </ul>
          <h4>Notas:</h4>
          <ul>
            <li >{{exercicio?.notas }}</li>
          </ul>
        </div>
      </div>

      <div [class.hidden]="!exibeCodigo" class="conteiner-card-bt-executar">
        <div id="card-codigo" class="card">
          <div class="card-content">
            <h3 class="card-title">Codigo</h3>
            <app-code [exercicio]="exercicio" (resultados)="obterResultados($event)"
              (exception)="obterException($event)">
            </app-code>
          </div>
        </div>
        <div class="bt-executar">
          @if(exibeCodigo){
          <button class="button-run ml-3 mb-3" (click)="runCodigo()">Run Codigo</button>
          }

        </div>
      </div>


    </div>


  </div>

  <div class="container-execucao">
    <div  class="card">
      <div *ngIf="resultadosRuntime.length > 0" class="card-content">

        <ul class="list">
          @for (runTime of resultadosRuntime; track $index){
          @if(runTime.sucesso){
          <li class="list-view-sucesso">
            <span>Sucesso :D</span>
            <br>
            Exemplo: {{runTime.run}}
            <br>
            Resultado: {{runTime.resultado}}
          </li>
          }
          @else{
          <li class="list-view-error">
            <span>Erro :(</span>
            <br>
            Exemplo: {{runTime.run}}
            <br>
            Resultado: {{runTime.resultado}}
          </li>
          }
          <hr class="list-divider">
          }
        </ul>
      </div>
      <div [class.hidden]="!exibeException" id="card-display">
        <div class="card-content">
          <p class="card-text">{{exception}}</p>
        </div>
      </div>

      <div class="card-content" *ngIf="resultadosRuntime.length == 0 && !exibeException">
        <p class="card-content__texto-explicativo" >Clique na aba "Codigo", escreva sua função e depois cliquei no botão "Run Codigo" para ver o resultado</p>
      </div>
    </div>
    <div class="navegacao">
      <button class="button mr-3 ml-3 mb-3"  [ngClass]="{'esconder': !exercicio?.exibirVoltar}" (click)="voltarQuestao()">Voltar</button>

      <button class="button ml-3 mb-3" [ngClass]="{'esconder': !exercicio?.exibirProximo}" (click)="proximaQuestao()">Próxima</button>

    </div>
  </div>


</div>
